.c-country-selector {
  margin-bottom: 30px;
  border: 1px solid #B9D1FF;
  border-radius: 3px;

  .aq__react-select__control {
    border-bottom-width: 0;
  }

  .country-selector--icon {
    margin-right: 24px;
  }

  svg {
    fill: #B9D1FF;
  }

}
