.c-widgets {
  background-color: palette(sand);
  padding: 50px;
  // overflow-y: hidden;

  .widgets--content-wrapper {
    background-color: palette(white);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.26);

    .widgets--row-number {
      display: table-cell;
      padding: 20px;
      width: 61px;
    }
  
    .widgets--name {
      display: table-cell;
      flex-grow: 1;
    }
  
    .widgets--chart {
      display: table-cell;
      width: 160px;
    }
  
    .widgets--total {
      display: table-cell;
      padding-right: 46px;
      width: 160px;
      text-align: center;
    }  
  }

  .widgets--header {
    height: 55px;
    color: palette(gray, dark);
    display: flex;
    justify-content: space-between;
    font-weight: $font-weight-bold;
    position: relative;

    span {
      margin-top: 8px;
    }

    button {
      border: 1px solid rgba(palette(blue), 0.2);
      border-radius: 3px;
      height: 30px;
      font-size: $font-size-big;
      font-weight: $font-weight-semi-bold;
      padding: 0 16px;
      a {
        color: #4A596A;
      }
    }

    &:before {
      content: '';
      display: block;
      height: 2px;
      width: 13px;
      background-color: #244880;
      position: absolute;
      top: 0; left: 0;
    }
  }

  .widgets--content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;

    .widgets--content-legend {
      display: block;
  
      .widgets--content-bullet {
        margin-right: 7px;
      }
    }

    .widgets--chart {
      padding: 16px;
    }
  }

  .widgets--content-body {
    width: 100%;
  }

  .widgets--content-row {
    display: table;
    justify-content: space-between;
    position: relative;
    color: palette(gray, dark);
    font-size: $font-size-huge;
    width: 100%;

    &:after {
      content: '';
      display: block;
      height: 3px;
      width: calc(100% - 20px);
      background-color: #F2F2F2;
      position: absolute;
      bottom: 0; right: 0;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  .-uppercase {
    text-transform: uppercase;
  }
}