.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: palette(sand);
  display: flex;
  flex-flow: column;
  .navTags {
    background-color: palette(blue, dark);
    display: flex;

    div {
      padding: 1rem 2rem;
      color: white; 
    }
    
    .selectedTag {
      background-color: palette(blue, primary);
    }

    &:hover {
      cursor: pointer;
    }
    
   }
}
