$text-color: #AFC7FF;

.c-header {
  background-color: palette(blue, primary);

  .header--back-button {
    padding: 0 52px;
    color: $text-color;
    background-color: palette(blue, dark);
    cursor: pointer;
    height: 53px;
    line-height: 50px;
    font-size: $font-size-default;

    span {
      margin-left: 14px;
    }

    svg {
      fill: $text-color;
    }
  }

  .header--content {
    padding: 32px 52px;
    color: palette(white);
  }

  .header--indicators {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    li {
      display: inline-block;
    }
  }

  .header--disclaimer {
    margin-top: 16px;
  }

  .-uppercase {
    text-transform: uppercase;
  }
}