.c-main {
  width: 100%;
  height: 100vh;
}

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.c-aqueduct-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 50%;
  height: 100vh;
}