.c-main {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 60px;
}

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.c-aqueduct-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 50%;
  height: 100vh;
  min-width: 600px
}

.updates-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 501;
  max-width: 260px;
  background-color: palette(blue, primary);
  padding: 1.5rem;
  color: white;
  p {
    font-size: small;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  .button-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px;
    font-size: small;
    margin: auto;
    width: 100%;
  }
}