.c-widget {
  display: table;
  align-items: center;
  justify-content: space-between;

  .widget--chart-text {
    font-size: $font-size-small;
    color: rgba(#758290, 0.6);
    margin-right: 6px;
  }
}